{
  "addons": {
    "make-it-red@example.com": {
      "updates": [
        {
          "version": "1.1",
          "update_link": "https://zotero-download.s3.amazonaws.com/tmp/make-it-red/make-it-red-1.1.xpi",
          "update_hash": "sha256:e1a4214c359686c850de7c5a0ab2dfc4c2262dbf8394321de678326f38fda2e0",
          "applications": {
            "gecko": {
              "strict_min_version": "60.0"
            }
          }
        }
      ]
    }
  }
}
